################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Dignita/MantenedorTareas.resx
/Dignita/MantenedorTareas.Designer.cs
/Dignita/MantenedorTareas.cs
/Dignita/.vs/Dignita/FileContentIndex/7055aea5-e023-4396-a219-bedd07dac27e.vsidx
/Dignita/.vs/Dignita/FileContentIndex
